*~
/build/
/composer.lock
/composer.phar
/web/bundles/
.DS_Store

/vendor/*
!/vendor/jms/
/vendor/jms/*
!/vendor/jms/serializer/
/vendor/jms/serializer/*
!/vendor/jms/serializer/src/
/vendor/jms/serializer/src/*
!/vendor/jms/serializer/src/JMS/
/vendor/jms/serializer/src/JMS/*
!/vendor/jms/serializer/src/JMS/Serializer/
/vendor/jms/serializer/src/JMS/Serializer/*
!/vendor/jms/serializer/src/JMS/Serializer/JsonSerializationVisitor.php
