{% extends "BRBarBundle::base.html.twig" %}

{% block content %}
	<ul>
	{% for hist in histories %}
	    <li>{{hist.user}} bought {{hist.quantity}} {{hist.food}}</li>
	{% endfor %}
	</ul>

	{{form(form)}}
{% endblock %}